.registration-form {
  border: 1px solid #565656;
  padding-bottom: 50px;
  background-color: #11212d;
}
.registration-form .section-title {
  padding: 10px 0;
}

.registration-form input {
  width: 100%;
  margin: 0 auto 30px;
  height: 50px;
}

.registration-form .forms {
  margin-top: 40px;
  padding: 0 40px;
}

.registration-form .logo-placeholder {
  padding: 50px 0;
  background-color: #035da9;
  display: flex;
  justify-content: center;
}
