.subscription-form {
  width: 450px;
  max-width: 100%;
  height: 250px;
  max-width: 50%;
  display: block;
  text-align: center;
  border: 1px solid #565656;
  background-color: #11212d;
  padding: 0 5px;
  margin: auto;
}

.subscription-form form {
  width: 50%;
  margin: 0 auto;
}

.subscription-form .text-input {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
}

.subscription-form .section-title {
  padding: 10px 0;
  font-size: 10px;
}

.subscription-form input {
  margin-top: 20px;
}
